/*******************************************************************************
 * Project Group 4 DT167G
 * File: style.css
 ******************************************************************************/

/* Reset margins and padding */
* {
  margin: 5px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: auto;
  max-width: 960px;
  font: 13px/1.2 Helvetica, Arial, sans-serif;
  background: #eaeaea;
}

/* Tell the browser to render HTML 5 elements as block */
header,
main,
section,
article,
aside,
nav,
footer {
  display: block;
}

body {
  padding: 5px;
  background: #ffffff;
  border: thin solid #c7c7c7;
  box-shadow: -2px 5px 25px black;
  border-radius: 5px;
}

header {
  border: 2px solid black;
  border-radius: 10px;
}

main {
  display: flex;
  min-height: 400px;
}

aside {
  max-width: 300px;
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  min-height: inherit;
}

form {
  padding: 0px;
}

h1 {
  font-size: 45px;
  line-height: 90px;
  padding: 22px 0px;
}

p {
  margin: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
}

p span {
  display: block;
  line-height: 1;
  font-weight: bold;
}

header {
  display: flex;
  padding: 5px 20px;
  margin-bottom: 10px;
  height: 140px;
}

nav {
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 97%;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

#trash-bin-td-border {
  border: none;
}

.th5 {
  width: 5%;
}

.th10 {
  width: 10%;
}

.th20 {
  width: 20%;
}

.th40 {
  width: 40%;
}

footer {
  border-top: 1px solid black;
  text-align: center;
}

address {
  display: inline-block;
}

.mail-links {
  margin: 0px;
  color: black;
}

.logo {
  width: 252px;
  height: 120px;
  margin: 5px 110px 5px 5px;
}

.red {
  color: red;
  font-weight: bold;
}
.hide {
  display: none;
}

.far {
  font-size: 1em;
}

.fas {
  font-size: 1.2em;
}

.fa-thumbs-down,
.fa-thumbs-o-down {
  transform: rotateY(180deg);
}

a {
  text-decoration: none;
}

#signup_message {
  font-weight: bold;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: ;
  width: 100%;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-left: 2px solid gray;
  vertical-align: top;
  min-height: inherit;
}

/* Posts */

article.post {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
}

article.post .time {
  font-size: 0.8rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin: 0 2em 0 2em;
}

.post footer {
  display: flex;
  justify-content: space-between;
}

.post .content {
  padding: 5px;
}
